body {
  font-family: Arial;
  margin: 0;
  background: #f2f2f2;
}

header {
  background: #0b3d91;
  color: white;
  padding: 40px;
  text-align: center;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  color: #0b3d91;
}

footer {
  text-align: center;
  padding: 20px;
  background: #0b3d91;
  color: white;
}
